$align-items: (
	normal,
	stretch,
	center,
	start,
	end,
	flex-start,
	flex-end,
	self-start,
	self-end
);

@mixin align-items($size: false) {
	@each $val in $align-items {
		@if $size {
			.align-items-#{$size}-#{$val} {
				align-items: $val !important;
			}
		} @else {
			.align-items-#{$val} {
				align-items: $val !important;
			}
		}
	}
}
