@mixin breakpoint($breakpoint, $val: down) {
	@if map-has-key($grid-breakpoints, $breakpoint) {
		@if $val == up {
			@media (min-width: map-get($grid-breakpoints, $breakpoint)) {
				@content;
			}
		} @else {
			@media (max-width: map-get($grid-breakpoints, $breakpoint)) {
				@content;
			}
		}
	}
}
