$display: (
  block,
  inline,
  grid,
  flex,
  table,
  none,
  inline-block,
);

@mixin display($size: false) {
  @each $d in $display {
    @if $size {
      .d-#{$size}-#{$d} {
        display: $d !important;
      }
    } @else {
      .d-#{$d} {
        display: $d !important;
      }
    }
  }
}
