$flex-direction: (
	row,
	row-reverse,
	column,
	column-reverse
);

@mixin flex-direction($size: false) {
	@each $val in $flex-direction {
		@if $size {
			.flex-direction-#{$size}-#{$val} {
				flex-direction: $val !important;
			}
		} @else {
			.flex-direction-#{$val} {
				flex-direction: $val !important;
			}
		}
	}
}
