$justify: (
	start,
	end,
	center,
	between,
	around,
);

@mixin justify-content($size: false) {
	@each $val in $justify {
		@if $size {
			.justify-content-#{$size}-#{$val} {
				justify-content: $val !important;
			}
		} @else {
			.justify-content-#{$val} {
				justify-content: $val !important;
			}
		}
	}
}

@mixin justify-self($size: false) {
	@each $val in $justify {
		@if $size {
			.justify-self-#{$size}-#{$val} {
				justify-content: $val !important;
			}
		} @else {
			.justify-self-#{$val} {
				justify-content: $val !important;
			}
		}
	}
}
