@mixin margin_padding($break: false) {
	@for $i from 0 through $margin-padding {
		@include item($i, m, margin, $break);
		@include item($i, p, padding, $break);
	}
}

@mixin item($i, $prefix, $type, $break) {
	$size: $i * 0.25rem;
	$b: '' !default;
	
	// ml-md-5
	@if $break { $b: #{$break}- }
	
	.#{$prefix}-#{$i} {#{$type}: $size;}
	.#{$prefix}l-#{$b}#{$i} {#{$type}-left: $size !important;}
	.#{$prefix}r-#{$b}#{$i} {#{$type}-right: $size !important;}
	.#{$prefix}t-#{$b}#{$i} {#{$type}-top: $size !important;}
	.#{$prefix}b-#{$b}#{$i} {#{$type}-bottom: $size !important;}
	.#{$prefix}x-#{$b}#{$i} {#{$type}-left: $size !important; #{$type}-right: $size !important;}
	.#{$prefix}y-#{$b}#{$i} {#{$type}-top: $size !important; #{$type}-bottom: $size !important;}
	
	.#{$prefix}-#{$b}auto {#{$type}-left: auto !important; #{$type}-right: auto !important; #{$type}-top: auto !important; #{$type}-bottom: auto !important;}
	.#{$prefix}l-#{$b}auto {#{$type}-left: auto !important;}
	.#{$prefix}r-#{$b}auto {#{$type}-right: auto !important;}
	.#{$prefix}t-#{$b}auto {#{$type}-top: auto !important;}
	.#{$prefix}b-#{$b}auto {#{$type}-bottom: auto !important;}
	.#{$prefix}y-#{$b}auto {#{$type}-top: auto !important; #{$type}-bottom: auto !important;}
	.#{$prefix}x-#{$b}auto {#{$type}-left: auto !important; #{$type}-right: auto !important;}
	
}

