$position: (
	static,
	relative,
	absolute,
	fixed,
	sticky
);

@mixin position($size: false) {
	@each $val in $position {
		@if $size {
			.position-#{$size}-#{$val} {
				position: $val !important;
			}
		} @else {
			.position-#{$val} {
				position: $val !important;
			}
		}
	}
}
