$text-transformation: (
	capitalize,
	uppercase,
	lowercase,
	none,
);

@mixin text-transformation($size: false) {
	@each $val in $text-transformation {
		@if $size {
			.text-#{$size}-#{$val} {
				text-transform: $val !important;
			}
		} @else {
			.text-#{$val} {
				text-transform: $val !important;
			}
		}
	}
}
