$text-align: (
	left,
	right,
	center,
);

@mixin text-align($size: false) {
	@each $val in $text-align {
		@if $size {
			.text-#{$size}-#{$val} {
				text-align: $val !important;
			}
		} @else {
			.text-#{$val} {
				text-align: $val !important;
			}
		}
	}
}
