.popup-server-create {
  background: rgba(#000, .6);
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 999999999999999999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
}