.user-info-container {
  height: 50px;
  background: var(--user-info);

  .user-avatar-container {
    overflow: hidden;
    border-radius: 50%;
    height: 36px;
    width: 36px;

    .icon-user {
      margin-left: 3px;
      color: black;
      width: 20px;
      height: 20px;
    }
  }

  .user-info-middle-container{
    flex: 1;
    overflow: hidden;
    .user-info-middle-content {
      max-width: 100%;
      .user-username-container {
        .user-username {
          color: var(--user-info-text);
          font-size: 14px;
        }
      }
      .user-status-container {
        .user-status {
          min-width: 0;
          color: var(--user-info-text);
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          font-size: 13px;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }
  }

  .user-info-right-container {
    .user-info-right-content {
      .user-settings-container {

        .user-settings-content {
          margin-right: 2px;
        }
      }
    }
  }
}
