.home-page-content {
  &.full {
    .chat-container {
      &:before {
        display: none;
      }
    }
  }
}

.section-chat-side-container {
  transition: .2s ease-in-out;
  background: var(--chat-side);
  //transform: translateX(0) translateY(0);
  //z-index: 0;

  z-index: 1000;
  height: 100vh;
  position: relative;
  left: 0;
  width: 100%;

  .section-chat-side-content {
    position: relative;

    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    max-height: 100vh;

    .channel-info-container {
      overflow: hidden;
      width: 100%;
      height: 50px;
      z-index: 50;
      transition: all .2s ease;
      background: var(--chat-info);
      box-shadow: 0 0 3px #000000;

      .channel-type-container {
        .channel-type-content {
          width: 20px;
          height: 20px;

          .channel-type-image {
            width: 90%;
            height: 90%;
          }
        }
      }

      .channel-topic-container {
        margin-right: 10px;
        .channel-topic-content {
          display: table;
          table-layout: fixed;
          width: 100%;

          .channel-topic {
            color: var(--chat-info-topic);
            font-size: 14px;
            display: table-cell;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }


      .channel-name-container {
        .channel-name-content {
          width: 100%;
          .channel-name {
            color: var(--chat-info-text);
            white-space: nowrap;
            word-break: keep-all;
          }
        }
      }


    }

    .chat-container {
      z-index: 10;
      .space {
        height: 1rem;
      }
      max-height: calc(100vh - 50px);
      overflow: hidden;
      position: relative;
      height: 100%;

      &:before {
        z-index: 1000;
        position: absolute;
        width: 7px;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
        box-shadow: inset 5px 0 7px -5px rgba(0,0,0,0.4);
      }
      .chat-content {
        overflow: hidden;
        height: 100%;
        display: flex;
        flex: 1;
        max-height: calc(100vh - 50px);
        //z-index: 1;
        //margin-top: auto !important;
        //max-height: 100%;

        .messages-wrapper-container {
          position: relative;
          display: flex;
          width: 100%;
          max-height: 100%;
          align-items: flex-end;
          .messages-wrapper-content {
            width: 100%;
            max-height: 100%;

            .message-container {
              &:last-child {
                margin-bottom: 1rem;
              }

              &:hover {
                background: var(--chat-content-hover);
              }

              .text-time {
                display: none;
                font-size: .6rem !important;
              }

              &:hover {
                .text-time {
                  display: block;
                }
              }

              .message-user-profile-container {
                min-width: 44px;
                //min-height: 44px;

                .message-user-profile-content {
                  overflow: hidden;
                  border-radius: 50%;
                  height: 44px;
                  width: 44px;


                  .default {
                    background: var(--primary);
                  }

                  .message-user-profile {
                    .icon-user {
                      margin-left: 5px;
                      color: black;
                      width: 70%;
                      height: 70%;
                    }
                  }
                }
              }

              .message-info-container {
                .message-author-container {
                  .message-author {
                    color: var(--chat-side-author);
                  }
                }
              }

              .message-content-content {
                color: var(--chat-side-text);
                font-size: 1rem;
                line-height: 21px;
                white-space: pre-wrap;
                //white-space: break-spaces;
                word-wrap: break-word;

                .message-content-link {
                  color: var(--chat-side-link) !important;
                  font-family: Whitney, serif;
                  &:hover {
                    &:before {
                      display: none;
                    }
                    text-decoration: underline;
                  }
                }

                .link-preview-content {
                  margin-top: 5px;
                  background: var(--body-color-light);
                  min-width: 480px;
                  max-width: 480px;
                  min-height: 240px;
                }
              }
            }
          }
        }
      }
    }

    .btn-send-message {
      right: 0;
      top: 0;
      height: 100%;
      transition: all .2s ease;
      padding: 0 .95rem;
      .icon-svg {
        margin-bottom: 1px;
        color: var(--primary);
      }
    }
  }
}
