.home-page-content {
  transition: all 5s ease-in-out;
  &.full {
    .section-server-side-container, .section-channel-side-container {
      display: none !important;
    }
  }
}

.section-server-side-container {
  z-index: 100000;
  overflow-y: auto;
  overflow-x: visible !important;
  max-width: 77px;
  scrollbar-width: none;
  min-width: 77px;
  background: var(--server-side);
  max-height: 100vh;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.servers-button-skeleton {
  background: var(--skeleton-color) !important;
}

.section-channel-side-container {
  z-index: 10000;
  min-width: 240px;
  max-width: 240px;
  overflow: hidden;
  //z-index: 0;

  display: flex;
  //box-shadow: 7px 0 9px -7px rgba(0,0,0,0.4);
  //box-shadow: 1px 5px 5px red;

  .section-channel-side-content {
    background: var(--bg-channel-side);
    //background: red;
    flex: 1;
  }
}

.server-list-content {
  .btn-server:not(:first-child,:last-child) {
    margin-top: 5px;
  }
}
