.popup-user-settings-container {
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--body-color);

  .popup-user-settings-content {
    display: flex;
  }

  .settings-user-left-container {
    flex: 0 30%;
    display: flex;
    justify-content: flex-end;

    .settings-user-left-content {
      width: 128px;

      .settings-user-widget-title {
        font-size: 13px;
      }
    }
  }

  .btn-copy {
    background: none;
    border: 1px solid var(--text-muted);
    color: var(--text);
  }

  .settings-user-right-container {
    background: var(--bg-server);
    flex: 1;
    p, h1 {
      color: var(--text);
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    margin: 8px auto 8;
    background: var(--gray-500);
  }
}