$base-color: #ddd;
$shine-color: #e8e8e8;
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

.section-friends-side-content {
  overflow: hidden;
  height: 100%;

  .friends-header-container {
    width: 100%;
    height: 50px;
    z-index: 50;
    transition: all .2s ease;
    background: var(--bg-server-side);
    box-shadow: 0 0 3px #000000;
    cursor: pointer;

    .friends-header-title-container {
      .friends-header-title {
        color: var(--text);
      }
    }

    .friends-header-icon-container {
      .friends-header-icon-content {
        width: 24px;
        height: 24px;
        .friends-header-icon {
          .icon-friends {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .friends-list-container {
    z-index: 9;
    height: 100%;
    max-height: calc(100vh - 50px);
    position: relative;
    /*overflow-y: auto;
    overflow-x: visible !important;
    z-index: 10000;
    max-height: calc(100vh - 50px);

    &::-webkit-scrollbar {
      width: 0;
    }*/
    &:before {
      z-index: 1000;
      position: absolute;
      width: 7px;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      box-shadow: inset 5px 0 7px -5px rgba(0,0,0,0.4);
    }
    .friends-title-container {
      .friends-title-content {
        .friends-title {
          color: var(--text);
          font-weight: bolder;
          font-size: 14px;
        }
      }
    }
    .friends-list {

      &:empty {
        margin: auto;
        width: 100%;
        height: 600px;
      }

      .friend-container {
        transition: all .1s ease;
        &:hover {
          background: var(--friend-bg);
          border-radius: 5px;
        }
        .friend-content {
          .friend-widget-container {
            .friend-widget-message-content, .friend-widget-more-content {
            }
          }
          .default {
            background: var(--primary);
          }

          .friend-picture-container {
            position: relative;
            max-width: 40px;
            max-height: 40px;
            border-radius: 50%;

            .user-status {
              z-index: 50;
              position: absolute;
              bottom: 0;
              right: 0;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              &.logged {
                background: #37a037;
              }
              &.not-logged {
                background: var(--danger);
              }
            }

            .friend-picture-content {
              position: relative;
              height: 40px;
              width: 40px;

              overflow: hidden;
              border-radius: 50%;

              display: flex;
              justify-content: center;
              align-items: center;

              .friend-picture {
                margin-top: 2px;
                margin-left: 3px;
                .icon-user {
                  color: black;
                }
              }
            }
          }

          .friend-info-container {
            flex: 1;

            .friend-username-content {
              font-weight: bold;
              color: var(--friend-name);
            }
          }
        }

      }
    }
  }
}