.home-page-container {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.home-loading-container {
  z-index: 9999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--body-color);
  color: var(--text);
  p {
    color: var(--text);
  }
}

.loading-content {
  height: 80px;
  position: relative;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-element {
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    background: var(--text);
    display: inline-block;
    width: 12px;
    margin: 5px;
    overflow: hidden;

    &:nth-child(1) {
      animation-delay: -0.24s;
    }

    &:nth-child(2) {
      animation-delay: -0.12s;
    }

    &:nth-child(3) {
      animation-delay: 0;
    }
  }
}

@keyframes lds-facebook {
  0% {
    height: 96px;
    top: 8px;
  }

  50%,
  100% {
    height: 48px;
    top: 24px;
  }
}
