.server-info-container {
  height: 50px;
  z-index: 9;
  background: var(--server-info);
  box-shadow: 0 0 3px #000000;
  .server-info-content {
    transition: all .2s ease;
    cursor: pointer;
    /*&:hover {
      background: lighten(#212227, 3);
    }*/

    .server-info-name-container {
      .server-info-name {
        color: var(--server-info-text);
      }
    }
  }
}
