.register-container {
  .form-header-container {
    .form-title-container {
      .form-title-content {
        .form-title {
          color: var(--text);
        }

        .step {
          color: var(--text-muted);
        }
      }
    }

    .form-subtitle-container {
      .form-subtitle {
        color: var(--text);
      }
    }
  }
}