.btn {
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  border-radius: .12rem;
  padding: .575rem .95rem;
  position: relative;
  font-size: 1.5rem;
  outline: none;
}

.btn-disable {
  cursor: not-allowed !important;
}

.btn-primary {
  transition: all .2s ease;
  color: $primary;
  background: $dark-100;
  font-size: .856rem;
  line-height: 1;

  &:hover {
    color: $dark;
    background: $primary;
  }
}

.btn-server-no-icon, .btn-home, .btn-create-server {
  background: var(--bg-server);

  &.select {
    background: $primary !important;
  }

  &:hover {
    background: $primary;
  }
}

.btn-server {
  overflow: hidden;
  font-weight: bold;
  transition: all .2s ease;
  position: relative;
  width: 52px;
  height: 52px;
  padding: 0;
  margin: 0 auto;
  display: block;
  border-radius: 50%;

  &.select {
    border-radius: 18px;
    .icon-home, .icon-plus, h1 {
      color: $dark-5 !important;
    }
  }

  .icon-home, .icon-plus {
    color: var(--icon-primary);
  }

  &:hover {
    border-radius: 18px;
    //background: $primary !important;
    .icon-home, .icon-plus, h1 {
      color: $dark-5 !important;
    }
  }
}

.btn-click, .btn-channel-click {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;

  & > div {
    width: 100%;
    height: 100%;
  }
}

.btn-channel, .btn-create-invite {
  text-align: left;
  font-size: 15px;
  color: var(--light);

  &.active {
    color: var(--light);
  }
}

.btn-create-invite {
  color: var(--text);
  background: var(--bg-server);
}

.btn-settings {
  color: var(--text);
  text-align: left;
  font-size: 15px;
  padding-right: 0;
  padding-left: 0;
}

.friend-widget-btn-content {
  overflow: hidden;
  background: var(--friend-widget);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  .icon-svg {
    width: 16px;
    height: 16px;
    color: var(--friend-widget-icon) !important;
  }

  .friend-widget-btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.popup-close {
  top: 0;
  right: 0;
  border-radius: 5px;
  background: var(--channel-active);
}

.btn-friend {
  background: none !important;
  color: var(--text);

  &:hover {
    background: var(--channel-active) !important;
  }

  &.active {
    background: var(--channel-active) !important;
  }
}

.btn-add-friend {
  color: var(--add-friend-text) !important;
  background: var(--add-friend-bg) !important;
}
