@font-face {
	font-family: 'LatoRegular';
	src: url('../assets/fonts/Lato/regular/Lato-Regular.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/Lato/regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/Lato/regular/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
	url('../assets/fonts/Lato/regular/Lato-Regular.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/Lato/regular/Lato-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'LatoLight';
	src: url('../assets/fonts/Lato/light/Lato-Light.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/Lato/light/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/Lato/light/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
	url('../assets/fonts/Lato/light/Lato-Light.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/Lato/light/Lato-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Whitney';
	font-style: normal;
	font-weight: normal;
	src: local('Whitney Light Regular'), url('../assets/fonts/Whitney/whitneylight.woff') format('woff');
}
