.form-register, .form-login, .form-server-create, .form-change-password {
  background: var(--form-bg);
  //box-shadow: 0 0 20px 3px rgba($dark, .3);
  max-width: 350px;
  min-height: 200px;
  width: 350px;

  .not-account {
    color: var(--text);
  }

  .not-account-register-now {
    a {
      color: var(--form-link) !important;
    }
  }
}

html[theme=light] {
  .not-account-register-now {
    a {
     font-weight: bold;
    }
  }
}

.form {
  .form-title {
    color: var(--text);
    font-size: 18px;
  }

  .form-subtitle {
    color: var(--text);
    font-size: 28px;
  }

  .form-group {
    position: relative;
    display: block;

    &.was-validated {
      .valid-feedback {
        display: block;
      }
      input {
        border-color: #5cb85c;
      }
    }

    .input-group {
      input[type=password] {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      input[type=password], .input {
        width: auto;
        flex: 1;
      }
    }

    .input-group-text {
      display: flex;
      align-items: center;
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      white-space: nowrap;
      background-color: var(--skeleton-color);
    }

    .input-group-left {
      border-radius: 0 .25rem .25rem 0;

    }

    .was-unvalidated {
      .invalid-feedback {
        display: block;
      }
      input {
        border-color: var(--danger);
      }
    }

    .invalid-feedback {
      display: none;
      color: var(--danger);
      width: 100%;
      margin-top: .25rem;
      font-size: .875em;
    }

    .input-group {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
    }
  }

  label {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-bottom: .5rem;
    color: var(--text);
    font-size: 14px;
  }

  .form-required {
    color: $danger;
  }

  .form-control {
    border-radius: $input-radius ;
    color: var(--text-muted);

    &::placeholder {
      color: #495057;
    }

    &:-webkit-autofill {
      //-webkit-text-fill-color: #8b99a5;
      -webkit-box-shadow: 0 0 0 0 rgba(#000, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
      outline: none;
      border-color: $primary;
    }
  }
}
