.input {
  box-sizing: border-box;
  padding: .8rem .95rem;
  font-size: .8rem;
  line-height: 1.5;
  background: var(--input-bg);
  border: 1px solid #444444;
  transition: border .3s linear;
  border-radius: 6px;
  display: block;
  width: 100%;

  &[type='password'] {
    &::placeholder {
      font-size: .7rem;
      letter-spacing: 1.2px;
    }
  }
}

/*[type="checkbox"] {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 2;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
  user-select: none;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: rgba(#272727, .5);
  border: 1px solid #444444;
  border-radius: 6px;
  transition: all .275s;
}

[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
  content: '✕';
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  bottom: 8px;
  left: 1px;
  font-size: 16px;
  color: $primary;
  transition: all .2s;
}

[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label::after {
  opacity: 1;
  transform: scale(1) rotate(0);
}*/

.password-match, .invalid {
  display: block;
  color: var(--danger);
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
}

.avatar-container {
  .picture-server {
    transition: all .25s ease;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    max-width: 100px;
    height: 100px;
    background: none;
    border: 2px dashed var(--avatar-border);

    &:hover {
      border-color: $primary;
    }

    input {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 9999;
      &::-webkit-file-upload-button {
        display: none;
      }
    }
  }

  .file-info {
    color: var(--text-muted);
  }
}



.image-preview {
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.image-preview-camera-container {
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-camera {
    width: 100%;
    height: 100%;
  }

  .image-preview-camera {
    z-index: 1;
    position: relative;
    width: 48px;
    height: 48px;
  }
}

.input-placeholder {
  pointer-events: none;
  user-select: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 .95rem;
  font-size: 14px;
  color: var(--text-muted);
}

.input-message {
  max-height: 150px;
  min-height: 46px;
  overflow-y: auto;
  transition: all .2s ease;
  //background: $dark-100;
  background: var(--input-message);
  box-shadow: 0 3px 3px rgba(#000000, .3);
  border-color: transparent;
  font-size: .9rem;
}

input[type='file'] {
  color: transparent;
}
