$grid-columns: 12;
$grid-gutter-width: 30px;
$margin-padding: 12;

$dark: #1a1a1a;
$dark-3: darken($dark, 3%);
$dark-5: lighten($dark, 5%);

$dark-100: lighten($dark, 10%);
$dark-200: lighten($dark, 20%);
$gray-500: lighten($dark, 50%);
$skeleton-color: $dark-100;
$primary: #ffac30;
$primary-light: lighten($primary, 10);
$primary-dark: darken($primary, 15);
$danger: #cf4848;
$light: #F9F9F9;

$background-opacity: .8;
$input-radius: .25rem;

$body-color: $dark;
$body-color-light: lighten($dark, 5);
$text-color: $light;

/*:root {
  --body-color: #{$body-color};
  --primary: #{$primary};

  --light: #{$light};
  --dark-3: #{$dark-3};
  --dark-5: #{$dark-5};
  --dark-100: #{$dark-100};
  --gray-500: #{$gray-500};
  --primary-light: #{$primary-light};
  --body-color-light: #{$body-color-light};
  --skeleton-color: #{$skeleton-color};
}*/

:root {
  --light: #{$light};
  --danger: #{$danger};
}

html[theme=light] {
  --body-color: #{$light};
  --text-muted: #707070;
  --bg-server: #DDDDDD;
  --icon-primary: #{$primary-dark};

  --server-info: #e2e2e2;
  --server-info-text: #{$dark};

  --server-side: #EEEEEE;

  --chat-side: #FFFFFF;
  --chat-side-author: #{$primary-dark};
  --chat-side-text: #{$dark};
  --chat-side-link: #{$primary-dark};

  --input-message: #e2e2e2;

  --user-info: #e2e2e2;
  --user-info-text: #{$dark};

  --chat-info: #e2e2e2;
  --chat-info-text: #{$dark};
  --chat-info-topic: var(--text-muted);

  --channel-active: #eeeeee;
  --tooltip-bg: #cacaca;
  --tooltip-color: #{$dark};
  --scroll-primary: #{$primary};
  --scroll-secondary: #eeeeee;

  --form-bg: #DDDDDD;
  --input-bg: #{rgba(#272727, .1)};
  --form-link: #{$primary-dark};

  --add-friend-bg: #289f33;
  --add-friend-text: var(--light);
  --friend-bg: #f3f3f3;
  --friend-name: #{$primary-dark};
  --friend-widget: #DDDDDD;
  --friend-widget-icon: #4e4e4e;

  --avatar-border: #646464;

  --primary: #{$primary};
  --bg-channel-side: #FFFFF;
  --text: #000000;
  --chat-topic: #000000;
  --chat-text: #000000;
  --chat-content-hover: #EEEEEE;
  --skeleton-color: #EEEEEE;
}

html[theme=dark] {
  --body-color: #{$dark};
  --text-muted: #{$gray-500};
  --bg-server: #{$dark-5};
  --icon-primary: #{$primary-light};

  --server-info: #232323;
  --server-info-text: #{$light};

  --server-side: #141414;

  --chat-side: #141414;
  --chat-side-author: #{$primary-light};
  --chat-side-text: #{$light};
  --chat-side-link: #{$primary-light};

  --input-message: #232323;

  --user-info: #232323;
  --user-info-text: #{$light};

  --chat-info: #232323;
  --chat-info-text: #{$light};
  --chat-info-topic: var(--text-muted);

  --channel-active: #252525;
  --tooltip-bg: #101010;
  --tooltip-color: #{$primary-light};
  --scroll-primary: #{$primary};
  --scroll-secondary: #{$dark-100};

  --form-bg: #{$dark-3};
  --input-bg: #{rgba(#272727, .5)};
  --form-link: #{$primary-light};

  --add-friend-bg: #289f33;
  --add-friend-text: var(--light);
  --friend-bg: #{lighten(#1a1a1a, 1)};
  --friend-name: #{$primary};
  --friend-widget: #{darken(#1a1a1a, 3)};
  --friend-widget-icon: #9a9a9a;

  --avatar-border: #C4C4C4;

  --primary: #{$primary};
  --text: #FFFFFF;
  --chat-topic: var(--gray-500);
  --chat-text: #FFFFFF;
  --chat-content-hover: lighten(#26272c, 3);
  --skeleton-color: #{$skeleton-color};
}

$template: (
  dark: $dark,
  light: $light,
  primary: var(--primary),
  primary-light: $primary-light,
  danger: $danger,
  dark-100: $dark-100,
  dark-200: $dark-200,
  dark-3: $dark-3,
  dark-5: $dark-5,
  gray-500: $gray-500
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@each $key, $val in $template {
  .bg-#{$key} {
    background: $val;
  }
}

@each $key, $val in $container-max-widths {
  .container {
    margin: 0 auto;
    @media screen and (min-width: #{$val}) {
      max-width: $val;
    }
  }
}
/*
body {
  font-family: Whitney, sans-serif;
  position: relative;
  background-color: $body-color;

  &:after {
    z-index: -2;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    content: '';
    background-image: url('../assets/media/background.png');
    opacity: $background-opacity;
  }
}

p {
  color: #F0F0F0;
}

a {
  transition: all .3s ease;
  position: relative;
  font-family: LatoLight, serif;
  color: $primary;
  text-decoration: none;

  &:before {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background: darken($primary, 10);
    bottom: 0;
    left: 0;
    transition: width .1s linear;
  }

  &:hover {
    color: darken($primary, 10);
    //text-decoration: underline;

    &:before {
      width: 100%;
    }
  }
}

.text-tiny {
  font-size: .8rem !important;
}

.text-small {
  font-size: .9rem !important;
}


.text-normal {
  font-size: 1rem !important;
}*/
