@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixin/mixin';
@import 'button';
@import 'form';
@import 'input';
@import "media";

@import "SectionChannel";

/*.bg-texture {
  position: relative;
  &:after {
    z-index: -2;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    content: '';
    background-color: $dark;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
    opacity: .1;
  }
}*/

.text-muted {
  color: $gray-500;
}

.tooltip {
  z-index: 999999;
  transition: all 5ms ease-in-out;
  padding: 8px 12px;
  min-height: 18px;
  line-height: 18px;
  max-width: 200px;
  position: absolute;
  background: var(--tooltip-bg);
  border-radius: 5px;
  color: var(--tooltip-color);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;

  word-wrap: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  hyphens: auto;
}

.scroll {
  overflow-y: auto !important;
  scrollbar-color: var(--scroll-primary) var(--scroll-secondary);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: .4rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--scroll-secondary);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scroll-primary);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-primary);
  }
}

.icon-svg {
  width: 18px;
  height: 18px;
  color: $gray-500;
}

.icon-plus {
  margin-top: 2px;
  margin-left: 2px;
}

.separator {
  background: $dark-5;
  width: 32px;
  height: 1px;
  border-radius: 18px;
}

.separator-vertical {
  background: $gray-500;
  min-width: 2px;
  height: 50%;
  border-radius: 18px;
  margin: 0 15px;
}

body {
  font-family: Whitney, sans-serif;
  position: relative;
}

a {
  transition: all .3s ease;
  position: relative;
  font-family: LatoLight, serif;
  color: $primary;
  text-decoration: none;

  &:before {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background: darken($primary, 10);
    bottom: 0;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, 0); /* décalage de 50% de sa propre taille */
    transition: width .1s linear;
  }

  &:hover {
    color: darken($primary, 10);

    &:before {
      width: 100%;
    }
  }
}

.text-tiny {
  font-size: .8rem !important;
}

.text-small {
  font-size: .9rem !important;
}

.server-element, .channel-element {
  &.select, .active {
    .select-info {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background: var(--primary);
      width: 4px;
      height: 100%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}



.text-normal {
  font-size: 1rem !important;
}

p {
  color: #F0F0F0;
}

.friend-picture-skeleton,
.friend-username-skeleton,
.friend-status-skeleton,
.friend-skeleton-size,
.friend-button-skeleton,
.chat-username-skeleton,
.chat-time-skeleton,
.chat-picture-skeleton,
.chat-content-skeleton {
  background: var(--skeleton-color);
  border-radius: 128px;
}

.friend-username-skeleton, .chat-content-skeleton {
  width: 120px;
}

.friend-status-skeleton, .chat-time-skeleton {
  width: 50px;
}

.friend-skeleton-size {
  width: 100px;
}

html[theme=dark] {
  body {
    background-color: $body-color;
  }
}

html[theme=light] {
  body {
    background-color: white;
  }
}

/*
button, div[role="button"] {
  &:focus {
    border: 2px solid #2491eb;
  }
}*/
