.login-container {
  @include breakpoint(sm, down) {
    min-width: 100vw;
    min-height: 100vh;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-content {
      width: 100%;
      height: 100%;
    }
  }
}

.chat-container {
  @include breakpoint(md, down) {
    .messages-wrapper-content {
      .message-container {
        padding: 1px 10px !important;
      }
    }
    .form-group {
      margin-bottom: .9rem !important;
    }
  }
}

.form-server-create {
  @include breakpoint(sm, down) {
    min-width: 100vw;
    min-height: 100vh;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      height: 100%;
      width: 100%;
    }
  }
}



.input-message {
  @include breakpoint(md, down) {
    //padding-top: .5rem;
    //padding-bottom: .5rem;
    border-radius: 128px !important;
  }
}
