.section-channel-side-content {

  .channel-server-container, .private-channel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .channel-server-content, .private-channel-content {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 100px;
    position: relative;
    overflow-x: visible !important;
    width: 100%;
    z-index: 1000;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
    }

    &:hover {
      scrollbar-color: var(--scroll-primary) var(--scroll-secondary);
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: .4rem;
      }

      &::-webkit-scrollbar-track {
        background: var(--scroll-secondary);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--scroll-primary);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--scroll-primary);
      }
    }

    .channel-element {
      &:first-child {
        margin-top: 1rem;
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }

    .channel-element-muted {
      .channel-name {
        color: var(--text-muted) !important;
      }
    }

    .channel-element, .channel-element-muted {
      .active {
        background: var(--channel-active);
        &:hover {
          background: var(--channel-active);
        }
      }


      .channel-type-container {
        .channel-type-content {
          width: 18px;
          height: 18px;

          .channel-type-image {
            width: 100%;
            height: 100%;
          }
        }
      }

      .channel-name-container {
        overflow: hidden;
        width: 100%;
        .channel-name {
          color: var(--text);
          display: inline-block;
          overflow-wrap: anywhere;
          word-break: break-all;
          text-overflow: ellipsis;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      &:hover {
        background: var(--channel-active);
      }
    }
  }
}
